# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Learning_Python\FinalProject_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
